table td {
    padding: 20px;
    border: 1px solid black;
}
table th {
    padding: 20px;
    border: 1px solid black;
}

.descriptionBook {
    margin: 0;
    display: grid;
    grid-template-columns: 100px 100px 100px;
    gap: 20px;
    padding: 20px;
    width: 300px;
    grid-template-areas: "cover title author"
                      "cover genre year"
                         "description description description";
}

img{
    grid-area: cover;
    width: 100px;
}

.title {
    grid-area: title;
}

.author {
    grid-area: author;
}

.year{
    grid-area: year;
}

.description {
    grid-area: description;
}

.genre{
    grid-area: genre;
}

.table-sortable th {
    cursor: pointer;
}

.table-sortable .th-sort-asc::after {
    content: "\25b4";
}

.table-sortable .th-sort-desc::after {
    content: "\25be";
}

.table-sortable .th-sort-asc::after,
.table-sortable .th-sort-desc::after {
    margin-left: 5px;
}

.table-sortable .th-sort-asc,
.table-sortable .th-sort-desc {
    background: rgba(0, 0, 0, 0.1);
}

.addNewBook {
    display: grid;
    width: 300px;
    padding: 20px;
    margin: 0;
    grid-template-columns: 150px 150px;
    gap: 20px;
}



